a, a:hover {
  color: #4d3222ff;
}


/* Back to top button */
.back-to-top {
  background: #4d3222ff;
  color: #fff7e4;
}


.back-to-top:focus {
  background: #4d3222ff;
  color: #fff7e4;
}

.back-to-top:hover {
  background: #4d3222ff;
  color: #fff7e4;
}

.navbar-default {
  background: #4d3222ff;
}

.form-control:focus {
  border-color: #4d3222ff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #4d3222ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #4d3222ff;
}

.service .carousel-indicators .active {
  background: rgb(234, 229, 225);
}

.btn-theme {
  background: #4d3222ff;
}

.contact-widget i {
  color: #4d3222ff;
}
